@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(projeresim.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
   
}
.container{
    width: 80%;/*width in değrini azalttık*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
    height: 100px;
    margin: auto;/*header ı ortaladık*/
}
header nav{
    display:flex;
    justify-content: space-between;
    height: 100%;/*height navın kapsayıcısının tamamını kaplasın*/
    align-items: center;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu{
    display: flex;
    align-items: center;
}
.menu .usta{
    
    color: white;
    text-decoration: none;
    background-color: beige;
    transition: all .25s ease-in;
    padding: 10px 15px;
    border-radius: 30px;
}
.menu .usta:hover{
    color: aqua;
    background-color: aquamarine;
}

.menu ul{
    display: flex;
    column-gap: 30px;
    list-style: none;
    padding-right: 80px;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    transition: .25s ease-in all;
    
}
.menu ul li a:hover{
    background-color: blanchedalmond;
    color: aquamarine;
}
section{
    padding-top: 150px;
}

section h1{
    text-align: center;
    font-size: 90px;
    color: white;
}
section p{
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    color: white;
}
section .button{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 15px;
    
}
section .button a{
    text-decoration: none;
    color: rgb(240, 33, 33);
    padding: 20px 30px;
    background-color: beige;
    border-radius: 56px;
    width: 250px;
    text-align: center;
    transition: all .25s ease-in;
}
.button a:hover{
    background-color: blueviolet;
    color: white;
}
